// ==== GOOGLE FONTS ====
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

// ==== VARIABLES SCSS ====
$body-font: "Roboto", sans-serif;

// ==== Colors ====

$text-color: hsl(180, 5%, 19%); // Couleur principale de texte
$text-color-light: hsl(0, 0%, 100%); // Couleur de texte sur fond sombre
$white: #FFFFFF;
$skyLight: #55C1FF;
$skyDark: #33658A;
$sunLight: #FEC601;
$sunDark: #EA7317;
$cloudLight: #DBE4EE;
$cloudDark: #A9BBCF;
$darkCloudLight: #90A7BF;
$darkCloudDark: #7792AF;
$raindrop: #0A81D1;
$nightLight: #ECE4B7;
$nightDark: #BFADA3;

  @mixin background($colour1, $colour2) {
    background: -webkit-linear-gradient($colour1, $colour2);
    background: -moz-linear-gradient($colour1, $colour2);
    background: -ms-linear-gradient($colour1, $colour2);
    background: -o-linear-gradient($colour1, $colour2);
    background: linear-gradient($colour1, $colour2);
 }
  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
  }
  @mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
  }
  @mixin scale($points) {
    -webkit-transform: scale($points);
    -moz-transform: scale($points);
    -ms-transform: scale($points);
    -o-transform: scale($points);
    transform: scale($points);
  }
  @mixin fadeIn($seconds) {
    -webkit-animation: fadein $seconds;
    -moz-animation: fadein $seconds;
    -ms-animation: fadein $seconds;
    -o-animation: fadein $seconds;
    animation: fadein $seconds;
  }
  
 @keyframes sunRotate {
    from {
      @include rotate(0deg);
    }
    to {
      @include rotate(359deg);
    }
  }


  @keyframes moonSwing {
    0% {
      @include rotate(125deg);
    }
    50% {
      @include rotate(135deg);
    }
    100% {
      @include rotate(125deg);
    }
  }
  @keyframes starFadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes starFadeOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
*{
    margin : 0;
    padding: 0;

}

     

@media screen and (max-width: 800px) {

      
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
/*     background: rgb(84,190,251);
background: radial-gradient(circle, rgba(84,190,251,1) 0%, rgba(51,101,138,1) 100%); */
    header{
        @include background($skyLight,$skyDark);
        color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4vw;
        height: 100vw;
        justify-content: space-between;
     
    
        .topHeader{
            display: flex;
            width: 100vw;
            justify-content: space-between;
            align-items: center;
            h1{
                font-size: 12vw;
            }
            .logo{
                width: 100;
                height: 100;
            }
        }
        .siteSitation{
            font-style: italic;
            text-align: center;
        }
        #inputContainer{
            display: flex;
            align-items: center;
            width: 70vw;
            justify-content: space-evenly;
         
            #citySelect{
                font-size: 1rem;
                padding: 1rem 0.5rem;
                border-radius: 0.3rem;
                /* color: var(--text-color); */
                /* background-color: var(--search-bar-color); */
                border: none;
            }

        }
  
        #headerData{
            .headerDataInfos{
                display: flex;
    width: 100vw;
    padding: 0vw;
    justify-content: space-around;
    height: 16VW;
    align-items: flex-end;
            }
            .headerDataLogos{
                width: 100vw;
                display: flex;
                justify-content: space-between;
                .cityIcon{
                  .cityImg{
                    width: 30px;
                    border-radius: 13px;
                  }
                }
                .visibilityIcon{
                  .visibilityImg{
                    width: 45px;
                  }
                }
                .sunriseIcon{
                    margin-top: 9px;

                    .sun{    
                        width: 28px;
                        height: 28px;
                    
                        
                        @include background($sunLight, $sunDark) ;
                        @include border-radius(50px) ;
                        animation: sunRotate 10s infinite linear;
                        @include rotate(20deg);

                    }
                    .rays {
                        width: 28px;
                        height: 28px;
                        background: $sunLight;
                        z-index: 0;
                        position: absolute;

                        @include rotate(20deg);
                        animation: sunRotate 10s infinite linear;
                      }
                      .rays:after {
                        content: "";
                        width: 28px;
                        height: 28px;
                        background: $sunLight;
                        z-index: 0;
                        position: absolute;
                        @include rotate(40deg);
                      }
                
            }
            .sunsetIcon{

          .moon {
            width: 33px;
            height: 33px;
            
            @include border-radius(50px);
        
            box-shadow: 10px 3px 0 0 #ECE4B7;
            @include rotate(130deg);
            animation: moonSwing 3s infinite linear;
            
          }

          
        

            }
            }
         
            
        
         
            }


                
    }
            
       
        }
    
    main{
        margin: 1vw;
        @include background($white,$nightLight );
        #nowPrediction{
            padding: 2vw;
            border: solid #607D8B;
            background-color: #efeeeb;
            @include border-radius(5px);
            .dateHourResumeCard {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h1{
                    color: $skyDark
                }
                h2{
                    color: $darkCloudDark;
                }
              }
            .tempContainerResumeCard{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                font-size: 26px;
                font-weight: bold;
            }
            .weatherContainerResumeCard{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                font-size: 26px;
                font-weight: bold;

            }
            .windContainerResumeCard{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                font-size: 26px;
                font-weight: bold;

            }
            }
            .titleSection{
                color: #4e61cd;
                margin: 15px 0;
                font-style: italic;
            }
         

        #resumecardDisplayer{
            padding: 2vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            @include border-radius(5px);
            background-color: $cloudDark;
            height: 150vw;
            .resumeCardContainer{
                background-color: $cloudLight;
                @include border-radius(5px);
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #DBE4EE;
                justify-content: space-around;
                height: 11vh;
                .dateHour{
                    font-size: 20px;
                    font-weight: bold;
                    color: blue;
                }
            .tempContainer{
                display: flex;
                width: 19vw;
              
                justify-content: space-between;
                font-size: 19px;
            }
            .windContainer{
                display: flex;
                width: 19vw;
              
                justify-content: space-between;
                font-size: 19px;
            }
               
                
            }
        }
    }
    .data-table{
        width: 100%;
        background-color: #EA7317;
        text-align: center;
    border-collapse: collapse;
    th, td {
        padding: 5px;
        font-size: 12px;
      }
    }
}

@media screen and (min-width: 800px) {
    body{
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        header{
            @include background($skyLight, $skyDark);    
            color: $text-color-light;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 54vh;
            justify-content: space-between;
            padding: 2vw;
            .topHeader{
                display: flex;
                width: 100vw;
            
                justify-content: space-evenly;
                    h1{
                        font-size: 6rem;
                    }
                
            }
            .siteSitation{
                font-style: italic;
            }
            #inputContainer{
                display: flex;
      
                align-items: center;
                width: 47vw;
                justify-content: center;
    #citySelect{
        font-size: 1.4rem;
        padding: 1rem 2.5rem;
        border-radius: 0.3rem;
        margin-right: 1vw;
        border: none;

    }
  #submitCity{
    font-size: 3rem;
  }
          
            }
            #headerData{
              display: flex;
              justify-content: space-around;
              width: 100vw;
              height: 16vh;
              /* align-items: center; */
              flex-direction: column;
   
            
            .headerDataLogos{
              width: 100vw;
              display: flex;
              margin-left: 28px;
              justify-content: space-around;
                .visibilityIcon{
                  .visibilityImg{
                    
                    width: 45px;
                    margin-left: 22px;
                  }
                }
                .sunriseIcon{
                    margin-top: 9px;

                    .sun{    
                        width: 28px;
                        height: 28px;
                    
                        
                        @include background($sunLight, $sunDark) ;
                        @include border-radius(50px) ;
                        animation: sunRotate 10s infinite linear;
                        @include rotate(20deg);

                    }
                    .rays {
                        width: 28px;
                        height: 28px;
                        background: $sunLight;
                        z-index: 0;
                        position: absolute;

                        @include rotate(20deg);
                        animation: sunRotate 10s infinite linear;
                      }
                      .rays:after {
                        content: "";
                        width: 28px;
                        height: 28px;
                        background: $sunLight;
                        z-index: 0;
                        position: absolute;
                        @include rotate(40deg);
                      }
                
            }
            .sunsetIcon{
              margin-right: 7px;
          .moon {
            width: 33px;
            height: 33px;
            
            @include border-radius(50px);
        
            box-shadow: 10px 3px 0 0 #ECE4B7;
            @include rotate(130deg);
            animation: moonSwing 3s infinite linear;
            
          }

          
        

            }
            }
         
            .headerDataInfos{
              display: flex;
              width: 100vw;
              padding: 0vw;
              height: 16VW;
              align-items: center;
              justify-content: space-around;
              font-size: 20px;
              font-weight: bold;
            }
        
         
            }

        }
        main{
          @include background($white,$nightLight );
            padding: 4vh;
            color: $text-color;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            #nowPrediction{
                padding: 2vw;
                border: solid #607D8B;
                background-color: #efeeeb;
                @include border-radius(5px);
                .dateHourResumeCard {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h1{
                        color: $skyDark
                    }
                    h2{
                        color: $darkCloudDark;
                    }
                  }
                .tempContainerResumeCard{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    font-size: 26px;
                    font-weight: bold;
                }
                .weatherContainerResumeCard{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    font-size: 26px;
                    font-weight: bold;
    
                }
                .windContainerResumeCard{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    font-size: 26px;
                    font-weight: bold;
    
                }
                }
                .titleSection{
                    color: #4e61cd;
                    margin: 15px 0;
                    font-style: italic;
                    font-size: 3vw;
                }
             
                #resumecardDisplayer{
                    padding: 2vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    @include border-radius(5px);
                    background-color: $cloudDark;
                    .resumeCardContainer{
                        background-color: $cloudLight;
                        @include border-radius(5px);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #DBE4EE;
                        justify-content: space-around;
                        width: 14vw;
                        height: 22vh;
                    .tempContainer{
                        display: flex;
                    }
                    .windContainer{
                        display: flex;
                    }
                       
                        
                    }
                }
        }
        .data-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            text-align: center;
          .tabHeaderDate{
            font-size: 25px;
          }
            th, td {
              padding: 8px;
           
              border-bottom: 1px solid #ddd;
            }
          
            th {
              background-color: #f2f2f2;
            }}
    
    }
  }


